<div class="container">
  <h1>Cancelar reserva</h1>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <mat-form-field>
          <mat-label>Introduce tu codigo de reservacion</mat-label>
          <input matInput type="text" [(ngModel)]="codeReservation" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-1 text-right">
      <button
        class="btn pull-right"
        (click)="sendCancel()"
        type="button"
        mat-raised-button
        [disabled]="!codeReservation"
      >
        Enviar
      </button>
    </div>
  </div>
</div>
